.App {
  text-align: center;
}

.card {
  /* border-style: solid; */
  /* border-color: red; */
  border-width: 2px;
  margin: 10px 1px; 
  width: 20%;
  display: inline-block;
  align-self: top; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.main-body {
  width: 80%;
  margin: 0 auto;
}


.article-container {
  width: 90%;
  margin: 0 auto; 
}

.article-card-container {
  margin: 0 auto; 
}

.option-gap {
  margin-left: 1em; 
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.navbar-link {
  margin: 5px; 
  padding: 10px;
}

.navbar-link:visited {
  color: white;
}

.navbar-link:hover {
  color: black;
  background-color: white;
}

.navbar {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center; 
}

.month-options {
  display: inline-block;
  margin-left: 1em; 
}

.keyword-options {
  display: inline-block; 
}

.keyword-search {
  margin: 0 auto;
  margin-top: 1em; 
  display: inline-block;   
}

.article-pdf {
  margin: 0 auto; 
  width: 50%;
  float: right; 
}

.site-header {
  text-align: center;
  display: block;
  padding-top: 20px;
  margin-bottom: -5px;
  background-color: black;
  color: white; 
}

.summary {
  width: 50%; 
}

.float-left {
  float: left; 
}

.half-width {
  width: 50%; 
}

.headline {
  width: 50%; 
}

.headline-font {
  font-family: 'Rye', cursive;
  font-size: 20px;
}

.typewriter-font {
  font-family: 'Special Elite', cursive;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
